.record-view {
  position: relative;
  height: 100%;
  .content {
    // min-height: 90%;
    .mission {
      display: flex;
      flex-direction: column;
      .team {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-bottom: 10px;

        border-left: 2px solid red;

        &.own-team {
          border-left: 2px solid green;
        }
        &__details {
          padding: 5px;
          display: flex;
          .name {
            padding: 0 5px;
            font-weight: bold;
          }
          .mmr {
            padding: 0 5px;
          }
        }

        &__player {
          padding: 5px;
          display: flex;
          .name {
            padding: 0 5px;
            font-weight: bold;
          }
          .mmr {
            padding: 0 5px;
          }
        }
      }
    }
  }

  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
